@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: var(--font-poppins);
}

html, body, #__next, main {
  background-color: #121212;
  min-height: 100vh;
}
